/* Variables */
:root {
    --color1:#ffa86b;
    --color2:#ffba78;
    --color3:#ffcc84;
    --color4:#ffd991;
    --color5:#ffe69e;
}

/* Set-up */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
}

input:focus, 
select:focus,
textarea:focus,
button:focus {
    background-color: var(--color5);
}

fieldset {
    border: none;
}

legend {
    width: 100%;
    font-size: 1.5em;
    color: var(--color1);
    padding: 0.5em 0 0.2em;
}

p {
    font-family: 'Saira Semi Condensed', sans-serif;
    margin: 1em 0 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    padding: 0 0 0.5em;
}

input {
    padding:0.3em;
}

input[placeholder] {
    padding-left: 0.5em;
}

hr:nth-of-type(odd) {
    text-align: left;
    margin: 1em 0 1em;
    justify-self: space-between;
}

/* Form */

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10% 0;
}

#form-title {
    background-color: var(--color1);
    width: auto;
    padding: 1.5em;
    text-align: center;
}

.banner {
    padding:2em;
}

#cr-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

#contact-info {
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em;
}

#news-subscription {
    display:flex;
    flex-direction: column;
}

.checkbox, .radio {
    margin: 0.3em 0 0.3em;
    display:flex;
    justify-content: flex-start;
}

label[class="pad-left"] {
    padding-left: 1em;
}

.btn {
    background-color: var(--color1);
    transition: background-color 0.5s;
    color: black;
    font-weight: bold;
    border: solid black 1px;
    border-radius: 0.2em;
    width: 89px;
    padding: 0.5em;
    margin: 2em auto 1em;
}

.btn:hover {
    cursor:pointer;
    background-color: var(--color5);
}

.copyright {
    margin-bottom: 8em;
}

/* Media Query */

@media (min-width: 768px) {
    .form-container {
        margin: 0 25% 0;
    }

    h1 {
        font-size: 3em;
    }

    .banner {
        font-size: 1.5em;
    }
}